PORT=3000
NODE_ENV=development

# Base de datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=chaskier

# CORS
FRONTEND_URL=http://localhost:3000
PRODUCTION_URL=https://tudominio.com

# JWT
JWT_SECRET=tu_super_secreto_jwt_aqui

# Email (para después)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_email@gmail.com
SMTP_PASS=tu_contraseña_app
